openapi: 3.1.0
info:
  description: 'Fixture''s public v1 CRM API for Accounts, Contacts, Deals, Leads, Activities, Pipelines, Notes, and Tasks. Authenticate with `Authorization: Bearer ...` using either a Fixture API key or a Fixture OAuth access token.'
  title: Fixture Accounts Users API
  version: v1
servers:
- url: https://beta-api.fixture.app
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /api/v1/users:
    get:
      deprecated: false
      description: Return organization Users that can be assigned as Account or Deal owners. Use these `user_` IDs in `relationships.owner.set`.
      operationId: listUsers
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - email: alex@acme.example
                  id: user_9T5jXRFuLpTQ3nM4PkGvW2
                  name: Alex Morgan
                  role: member
                pagination:
                  has_more: false
                  limit: 25
                  next_cursor: null
              schema:
                $ref: '#/components/schemas/V1UserListPayload'
          description: Paginated User list.
        '400':
          content:
            application/json:
              example:
                error:
                  code: invalid_parameter
                  message: Invalid cursor
              schema:
                $ref: '#/components/schemas/V1ErrorResponse'
          description: Invalid pagination parameter.
        '401':
          content:
            application/json:
              example:
                error:
                  code: unauthorized
                  message: Invalid or missing API key
              schema:
                $ref: '#/components/schemas/V1ErrorResponse'
          description: Missing or invalid API key.
        '403':
          content:
            application/json:
              example:
                error:
                  code: forbidden
                  message: 'Missing required scope: users:read'
              schema:
                $ref: '#/components/schemas/V1ErrorResponse'
          description: API key is missing the required scope.
      security:
      - bearerAuth: []
      summary: List Users
      tags:
      - Users
components:
  schemas:
    V1UserPayload:
      description: Organization User that can be assigned as an Account or Deal owner.
      properties:
        email:
          description: Primary email address.
          example: alex@acme.example
          type: string
        id:
          description: Opaque `user_` identifier.
          example: user_9T5jXRFuLpTQ3nM4PkGvW2
          type: string
        name:
          oneOf:
          - type: string
          - type: 'null'
        role:
          type: string
      required:
      - email
      - id
      - name
      - role
      title: V1UserPayload
      type: object
    V1ErrorResponse:
      description: Standard error envelope for all public v1 API errors.
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable error code.
              example: not_found
              type: string
            message:
              description: Human-readable error message.
              example: Account not found
              type: string
          required:
          - code
          - message
          type: object
      required:
      - error
      type: object
    V1PaginationPayload:
      description: Cursor pagination block for public list responses.
      properties:
        has_more:
          description: Whether another page is available.
          example: false
          type: boolean
        limit:
          description: Requested page size.
          example: 50
          type: integer
        next_cursor:
          description: Opaque cursor to pass as `cursor` for the next page, or null when this is the last page.
          example: null
          type:
          - string
          - 'null'
      required:
      - limit
      - next_cursor
      - has_more
      type: object
    V1UserListPayload:
      description: Paginated list response for Users.
      properties:
        data:
          items:
            $ref: '#/components/schemas/V1UserPayload'
          type: array
        pagination:
          $ref: '#/components/schemas/V1PaginationPayload'
      required:
      - data
      - pagination
      title: V1UserListPayload
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: API key or OAuth access token
      description: Send either a Fixture API key or a Fixture OAuth access token in the Authorization header as a bearer token.
      scheme: bearer
      type: http
